h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    padding: 0rem 0 0;
}

h1:after {
    margin-top: 5px;
    content: ' ';
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

p {
    text-align: justify;
    position: relative;
    padding: 1rem 0 0;
    font-size: 25px;
}